h1 {
    font-size: 62px !important;
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn-primary {
    color: #fff;
    background-color: red;
    border-color: red;
}

.container {
    max-width: 1600px;
}

.news {
    background-color: rgb(204, 204, 204);
    padding: 10px 14px;
}

.news-row article {
    background-color: rgb(161, 226, 123);
    padding: 10px 14px;
}
