body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.product1 {
    background-color: aqua;
}

.product2 {
    background-color: rgb(6, 65, 65);
}

.product3 {
    background-color: rgb(255, 174, 0);
}

.flex-container {
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
}

.product {
    width: 31%;
}

@media (max-width: 600px)
{
    .flex-container
    {
        display: block;
    }

    .product {
        width: 100%;
    }
}